@page "/classroom202"
@using BlazorBeacon.Client.Extensions

@inject HttpClient httpClient

<h3>Учебный кабинет 202</h3>

@if (listOfBeacons is not null)
{
    <MudTable Items="@listOfBeacons" Hover="true" Class="my-5">
        <ToolBarContent>
            <MudIconButton Icon="@Icons.Filled.Refresh" Color="Color.Primary" Size="Size.Large" OnClick="@(async () => await Refresh())" Class="mr-3" />
            <MudText Typo="Typo.h6">В ожидании</MudText>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Имя ученика</MudTh>
            <MudTh>Дистанция</MudTh>
            <MudTh>Класс</MudTh>
            <MudTh>Время</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Мак">@context.StudentName</MudTd>
            <MudTd DataLabel="Дистанция">@context.Distance</MudTd>
            <MudTd DataLabel="Мак">@context.StudentClass</MudTd>
            <MudTd DataLabel="Время">@context.TimeStamp.ToString("dd-MM-yyyy HH:mm:ss")</MudTd>
            <MudTd><MudButton Color="Color.Info" @onclick="@((e) => AddToClass(context))">Добавить</MudButton></MudTd>
        </RowTemplate>
    </MudTable>
}
else
{
    <MudProgressCircular Indeterminate="true"></MudProgressCircular>
}
@if (listOfStudentsInClass is not null && listOfStudentsInClass.Any())
{
    <MudTable Items="@listOfStudentsInClass" Hover="true" Class="my-5">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Зарегистрированы на урок</MudText>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Имя ученика</MudTh>
            <MudTh>Дистанция</MudTh>
            <MudTh>Класс</MudTh>
            <MudTh>Время</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Мак">@context.StudentName</MudTd>
            <MudTd DataLabel="Дистанция">@context.Distance</MudTd>
            <MudTd DataLabel="Мак">@context.StudentClass</MudTd>
            <MudTd DataLabel="Время">@context.TimeStamp.ToString("dd-MM-yyyy HH:mm:ss")</MudTd>
            <MudTd><MudButton Color="Color.Info" @onclick="@((e) => RemoveFromClass(context))">Удалить</MudButton></MudTd>
        </RowTemplate>
    </MudTable>

    @if (classroom is not null)
    {
        <!-- Выбор занятия  -->
        <MudSelect T="LessonResponse" @bind-Value="selectedLesson" Label="Выберите урок" AnchorOrigin="Origin.BottomCenter">
            @foreach (var lesson in classroom.LessonsResponse)
            {
                <MudSelectItem Value="@lesson">@lesson.Title в @lesson.Time</MudSelectItem>
            }
        </MudSelect>

        if (selectedLesson is not null)
        {
            <!-- Название занятия  -->
            <MudTextField T="string" Label="Название" @bind-Text="selectedLesson.Topic" ReadOnly=true />
            <!-- Преподаватель  -->
            <MudTextField T="string" Label="Название" @bind-Text="selectedLesson.TeacherName" ReadOnly=true />
            <!-- Дата занятия  -->
            <MudTextField T="string" Label="Time" @bind-Text="selectedLesson.Time" InputType="InputType.Time" ReadOnly=true />
            <MudButton Color="Color.Info" @onclick="@(() => Save())">Удалить</MudButton>
        }
    }
}
else
{
    <p>В классе еще нет учеников</p>
}


@code {

    List<BeaconResponse> listOfBeacons;
    List<BeaconResponse> listOfStudentsInClass = new();
    ClassroomResponse classroom;
    LessonResponse selectedLesson;

    protected override async Task OnInitializedAsync()
    {
        await Refresh();
        classroom = await httpClient.GetFromJsonAsync<ClassroomResponse>("api/classrooms/number/202");

    }

    private async Task Refresh()
    {
        var beaconResponses = await httpClient.GetFromJsonAsync<BeaconResponse[]>("api/gateways/gw/8C-AA-B5-97-E1-FC");
        var draft = beaconResponses.ToList();
        if (listOfStudentsInClass.Any())
        {
            foreach (var item in listOfStudentsInClass)
            {
                draft.RemoveAll(x => x.Mac.Equals(item.Mac, StringComparison.InvariantCultureIgnoreCase));
            }
        }
        listOfBeacons = draft;
    }

    private void Save()
    {
        if (selectedLesson.Students.Any())
        {
            var a = selectedLesson.Students.Select(x => x.BeaconMac);

        }
        else
        {
            var studentMacs = listOfStudentsInClass.Select(x => x.Mac);
            var less = new LessonRequest { Id = selectedLesson.Id, StudentMacs = studentMacs };
        }

    }

    private void AddToClass(BeaconResponse context)
    {
        listOfBeacons.RemoveAll(x => x.Mac.Equals(context.Mac, StringComparison.InvariantCultureIgnoreCase));
        listOfStudentsInClass.Add(context);
    }

    private void RemoveFromClass(BeaconResponse context)
    {
        listOfStudentsInClass.RemoveAll(x => x.Mac.Equals(context.Mac, StringComparison.InvariantCultureIgnoreCase));
        listOfBeacons.Add(context);
    }

}
